header {
    background-color: white;
    width: 100%;
}

* {
    box-sizing: border-box;
}

body {
    margin: 0;
    font-size: 1em;
}

main {
    padding-top: 80px;
    padding-bottom: 80px;
    background-color: #1f2039;
    color: white;
}

h1 {
    font-size: 2em;
    color:#a5b4fc;
}

h2{
    text-align: center;
    padding-bottom: 20px;

}

.mot_important {
    color:#a5b4fc;
}

nav {
    position:fixed;
    top:0;
    left: 0;
    right: 0;
    justify-content: space-around;
    background-color: white;
    align-items: center;
    width: 100%;
    display: flex;
    flex-direction: row;
    padding: 20px;
    font-size: 1.2em;
    z-index: 1000;
}

nav a {
    margin-left: 30px;
  }

a {
color: #1f2039;
text-decoration: none;
}

h1 {
    text-align: center;
}

.h1_section2{
    color: #1f2039;
}

.section_1 {
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    padding-bottom: 20px;
    margin:auto;
    max-width: 80%;
}

.p_section_1 {
    font-size: 1em ;  
}

.div_img_head {
    padding-left: 20px;
}

.section_2 {
    padding-top: 10px;
    padding-bottom: 10px;
    background-color: white;
    color: #1f2039;
}

.section_3 {
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    margin:auto;
    max-width: 80%;
    padding-bottom: 30px;
}

footer {
    position:fixed;
    bottom:0;
    left: 0;
    right: 0;
    display:flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
    background-color: white;
    width: 100%;
    padding: 20px;
}

.lien-icone {
    margin-left: 30px;
  }

.techno {
    max-height: 100%;
}

.div_techno {
    width: 80%;
    height: 60px;
    margin:auto;
    display:flex;
    flex-direction:row;
    justify-content: space-between;
    align-content: center;
    margin-top: 60px;
}

.photo-hover {
    position:absolute;
    top:0;
    left:0;
    right:0;
    bottom:0;
    display:flex;
    align-items: center;
    justify-content: center;
    font-size: 2em;
    color:white;
    background-color: rgba(0,0,0,0.7);
    display:none;
}

.lien-conteneur-photo {
    position: relative;
  }

.lien-conteneur-photo:hover .photo-hover {
    display: flex;
    text-align: center;
  }

.lien-conteneur-photo:active .photo-hover {
    display: flex;
    text-align: center;
}

.grid-projets {
display: grid;
grid-template-columns: 1fr 1fr 1fr;
grid-template-rows: 300px 300px;
gap: 15px;
margin: 20px;
}

.grid-projets img,
.lien-conteneur-photo img {
width: 100%;
height: 100%;
object-fit:fill;
border: 1px solid #1f2039;
}
